{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" >
<head>
<title>Auto de Infração</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
<style>@page { size: A4 }</style>
<style type="text/css">
 .ft06{font-size:20px;font-family:BAAAAA+Arial;color:#000000;}

</style>
<!--<style type="text/css">

	p {margin: 0; padding: 0;}	.ft00{font-size:18px;font-family:BAAAAA+Arial;color:#000000;}
	.ft01{font-size:15px;font-family:BAAAAA+Arial;color:#000000;}
	.ft02{font-size:15px;font-family:CAAAAA+ArialMT;color:#000000;body {
  background-color: #FFFFFF;
}}

</style>-->
</head>
<body class="A4">
<section class="sheet padding-10mm">
<img src="{% static 'a.png' %}" style="float:left;width:70px"/>




<div id="page1-div" style="position:relative;width:793px;height:1122px;">

<p style="position:absolute;top:-30px;left:128px;white-space:nowrap" class="ft00"><b>PREFEITURA MUNICIPAL DE SÃO SEBASTIÃO DO PARAÍSO</b></p>
<p style="position:absolute;top:-11px;left:260px;white-space:nowrap" class="ft00"><b>Secretaria Municipal de Saúde</b></p>
<p style="position:absolute;top:12px;left:233px;white-space:nowrap" class="ft00"><b>Departamento de Vigilância em Saúde</b></p>
<p style="position:absolute;top:32px;left:260px;white-space:nowrap" class="ft00"><b>Divisão de Vigilância Sanitária</b></p>
<p style="position:absolute;top:61px;left:272px;white-space:nowrap" class="ft06"><b>AUTO DE INFRAÇÃO Nº {{ infracao.id }}</b></p>
<p style="position:absolute;top:106px;left:10px;white-space:nowrap" class="ft01"><b>Endereço do imóvel: </b></p>
<p style="position:absolute;top:106px;left:156px;white-space:nowrap" class="ft02">{{ infracao.notificacao.terreno.logradouro_terreno }}, {{ infracao.notificacao.terreno.numero_terreno }} - {{ infracao.notificacao.terreno.bairro_terreno }}</p>
<p style="position:absolute;top:132px;left:10px;white-space:nowrap" class="ft01"><b>Inscrição cadastral: </b></p>
<p style="position:absolute;top:132px;left:149px;white-space:nowrap" class="ft02">{{infracao.notificacao.terreno.inscricao_terreno}}</p>
<p style="position:absolute;top:132px;left:305px;white-space:nowrap" class="ft01"><b>Quadra:</b></p>
<p style="position:absolute;top:132px;left:369px;white-space:nowrap" class="ft02"> {{ infracao.notificacao.terreno.quadra_terreno }} </p>
<p style="position:absolute;top:132px;left:435px;white-space:nowrap" class="ft01"><b>Lote:</b></p>
<p style="position:absolute;top:132px;left:477px;white-space:nowrap" class="ft02"> {{ infracao.notificacao.terreno.lote_terreno }}       </p>
<p style="position:absolute;top:132px;left:544px;white-space:nowrap" class="ft01"><b>Área:</b></p>
<p style="position:absolute;top:132px;left:590px;white-space:nowrap" class="ft02"> {{ infracao.notificacao.terreno.area_terreno }} m²</p>
<p style="position:absolute;top:158px;left:10px;white-space:nowrap" class="ft01"><b>Proprietário:</b></p>
<p style="position:absolute;top:158px;left:104px;white-space:nowrap" class="ft02"> {{ infracao.notificacao.terreno.proprietario.nome_proprietario }} </p>

<p style="position:absolute;top:199px;left:10px;white-space:nowrap" class="ft02">Pelo presente &#160;termo, fica o proprietário acima,&#160;
 <b><u>AUTUADO</u></b> pelo fato de não &#160;ter procedido à limpeza/capina</p>
<p style="position:absolute;top:225px;left:10px;white-space:nowrap" class="ft02">roçada &#160;do &#160;terreno &#160;localizado &#160;no &#160;endereço &#160;mencionado&#160; a &#160;fim &#160;de &#160;atender &#160;ao &#160;disposto &#160;no &#160;art. 1º &#160;da &#160;Lei</p>
<p style="position:absolute;top:251px;left:10px;white-space:nowrap" class="ft02">Municipal &#160;nº&#160; 3838/2011, &#160;no &#160;prazo estabelecido &#160;pela Notificação&#160; nº&#160;{{ infracao.notificacao.id }}, recebida em {{ infracao.notificacao.data_entrega_notificacao|date:"d/m/Y" }}. A infração</p>
<p style="position:absolute;top:277px;left:10px;white-space:nowrap" class="ft02">foi constatada em {{ infracao.data_inspecao_2|date:"d/m/Y" }} às {{ infracao.horario_inspecao_2}}h.

 <p style="position:absolute;top:318px;left:10px;white-space:nowrap" class="ft02">Assim, &#160;conforme inciso &#160;I do&#160; art. &#160;3º da Lei &#160;Municipal nº &#160;3838/2011, fica&#160; imposta penalidade &#160;de &#160;<b><u>MULTA</u></b> </p>
<p style="position:absolute;top:344px;left:10px;white-space:nowrap" class="ft02"> na &#160;proporção &#160;de &#160;1% &#160;(um &#160;por &#160;cento) &#160;do Valor &#160;de Referência &#160;do &#160;Município &#160;(VRM) &#160;por metro&#160; quadrado  </p>
<p style="position:absolute;top:370px;left:10px;white-space:nowrap" class="ft02"> de terreno, utilizando-se como base o cadastro imobiliário da Prefeitura Municipal, totalizando: </p>
<p style="position:absolute;top:396px;left:10px;white-space:nowrap" class="ft01"> - {{ infracao.notificacao.terreno.area_terreno}}% ({{ infracao.notificacao.areaTerreno }} por cento) do VRM,  </b></p>
 <p style="position:absolute;top:422px;left:10px;white-space:nowrap" class="ft01">- R${{ infracao.notificacao.vrm2 }} ({{ infracao.notificacao.vrm }}).</p>

<p style="position:absolute;top:463px;left:10px;white-space:nowrap" class="ft02">Fica &#160;ainda &#160;o infrator, &#160;INTIMADO a&#160; apresentar defesa, &#160;caso queira, &#160;no &#160;prazo &#160;de 10 (dez) dias contados a </p>
<p style="position:absolute;top:489px;left:10px;white-space:nowrap" class="ft01"> partir &#160;do recebimento &#160;deste &#160;Auto de Infração, conforme parágrafo 5º do art. 3º da Lei Municipal nº 3838/11. </p>
<p style="position:absolute;top:515px;left:10px;white-space:nowrap" class="ft01">A defesa deverá &#160;ser protocolada na Divisão de Vigilância Sanitária Municipal, situada no endereço constante</p>
<p style="position:absolute;top:541px;left:10px;white-space:nowrap" class="ft02"> no rodapé, contendo os seguintes documentos, conforme parágrafo 6º do art. 3º da Lei Municipal nº 3838/11: </p>
<p style="position:absolute;top:567px;left:10px;white-space:nowrap" class="ft02"> I) ofício devidamente fundamentado; II) cópia do Auto de Infração; III) cópia de outros documentos que </p>
<p style="position:absolute;top:593px;left:10px;white-space:nowrap" class="ft02"> julgue necessários à sua defesa. </p>
<p style="position:absolute;top:634px;left:10px;white-space:nowrap" class="ft02">O autuado que, comprovadamente executar os serviços de limpeza/capina/roçada/drenagem do terreno objeto </p>
<p style="position:absolute;top:660px;left:10px;white-space:nowrap" class="ft02">deste Auto de Infração, no prazo estabelecido para a defesa, terá a multa reduzida à metade, de acordo com o</p>
<p style="position:absolute;top:686px;left:10px;white-space:nowrap" class="ft01">art. 4º &#160;da Lei Municipal &#160;nº 3838/2011. &#160;A &#160;comprovação da &#160;execução dos referidos serviços deverá ser feita</p>
<p style="position:absolute;top:712px;left:10px;white-space:nowrap" class="ft01"> pela autoridade fiscal, mediante vistoria in loco, a pedido do autuado na própria defesa.</p>
<p style="position:absolute;top:753px;left:10px;white-space:nowrap" class="ft01">Esgotado &#160;o prazo para &#160;defesa sem manifestação do autuado, ou julgada improcedente a defesa, a Divisão de</p>
<p style="position:absolute;top:779px;left:10px;white-space:nowrap" class="ft02"> Vigilância &#160;&#160;Sanitária &#160;&#160;Municipal &#160;&#160;comunicará &#160;&#160;a &#160;&#160;Secretaria &#160;&#160;Municipal &#160;&#160;de &#160;&#160;Obras, &#160;&#160;Serviços &#160;Públicos &#160;e </p>
<p style="position:absolute;top:805px;left:10px;white-space:nowrap" class="ft02"> Planejamento Urbano, para proceder à limpeza do terreno e cobrança das taxas devidas.</p>
<p style="position:absolute;top:846px;left:10px;white-space:nowrap" class="ft02">Os&#160; débitos &#160;não &#160;liquidados &#160;no vencimento, &#160;decorrentes&#160;de &#160;multas e &#160;limpeza de terreno, serão inscritos em </p>
<p style="position:absolute;top:872px;left:10px;white-space:nowrap" class="ft02">Dívida Ativa do município. Em casos de reincidência da infração, a penalidade de multa será dobrada.</p>
<p style="position:absolute;top:907px;left:10px;white-space:nowrap" class="ft02">São&#160;Sebastião&#160;do&#160;Paraíso,&#160;{{ infracao.data_auto|date:"d" }}&#160;de&#160;{{ infracao.data_auto|date:"F" }}&#160;de&#160;{{ infracao.data_auto|date:"Y" }}</p>

<p style="position:absolute;top:952px;left:250px;white-space:nowrap" class="ft02"><b>Guilherme Firmino Duarte</b></p>
<p style="position:absolute;top:978px;left:281px;white-space:nowrap" class="ft02"><b>Fiscal Sanitário I</b></p>

<p style="position:absolute;top:1022px;left:8px;white-space:nowrap" class="ft02">Divisão&#160;de&#160;Vigilância&#160;Sanitária&#160;–&#160;Rua&#160;Dr.&#160;Placidino&#160;Brigagão,&#160;1230&#160;–&#160;Centro&#160;–&#160;São&#160;Sebastião&#160;do&#160;Paraíso&#160;–&#160;MG</p>
<p style="position:absolute;top:1040px;left:140px;white-space:nowrap" class="ft02">Telefone&#160;(35)3539-5003&#160;–&#160;e-mail&#160;vigilancia.saude@ssparaiso.mg.gov.br</p>
 </section>
</div>
</body>
</html>
