{% extends 'base.html' %}

{% block title %}
Listagem de Fiscais
{% endblock title %}

{% block content %}

<form method="get">
    <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" name="busca" placeholder="Buscar fiscal">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Pesquisar</button>
      </span>
    </div>
    </div>
</form>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Nível</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
    </thead>
    <tbody>
    {% for fiscal in lista %}

    <!-- Criei um "for" para rodar com os dados que veio do sistema e apresentar em cada linha um novo registro -->
    <tr>
        <td>{{ fiscal.nome_fiscal }}</td>
        <td>{{ fiscal.matricula_fiscal }}</td>
        <td>{{ fiscal.nivel }}</td>
        <td>
        <a href="{% url 'editar_fiscal' pk=fiscal.pk %}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        </td>
        <td>
        <a href="{% url 'excluir_fiscal' pk=fiscal.pk %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>


    </tr>
    {% endfor %}

    </tbody>

</table>
<a href="{% url 'cadastrar_fiscal' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>
{% endblock content %}