{% extends 'base.html' %}

{% block title %}
Listagem de Terrenos
{% endblock title %}


{% block content %}
<form method="get">
    <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" name="busca" placeholder="Buscar terreno pela inscrição">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Pesquisar</button>
      </span>
    </div>
    </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th class="text-center">Inscrição</th>
      <th class="text-center">Logradouro</th>
      <th class="text-center">Número</th>
      <th class="text-center">Bairro</th>
      <th class="text-center">Proprietário</th>
      <th class="text-center">Lote</th>
      <th class="text-center">Quadra</th>
      <th class="text-center">Área</th>
      <th class="text-center">Editar</th>
      <th class="text-center">Excluir</th>
    </tr>
    </thead>
    <tbody>
    {% for terreno in lista %}
    <!-- Criei um "for" para rodar com os dados que veio do sistema e apresentar em cada linha um novo registro -->
    <tr>
        <td>{{ terreno.inscricao_terreno }}</td>
        <td>{{ terreno.logradouro_terreno }}</td>
        <td>{{ terreno.numero_terreno }}</td>
        <td>{{ terreno.bairro_terreno }}</td>
        <td>{{ terreno.proprietario }}</td>
        <td>{{ terreno.lote_terreno }}</td>
        <td>{{ terreno.quadra_terreno }}</td>
        <td>{{ terreno.area_terreno }}m²</td>
        <td class="text-center">
        <a href="{% url 'editar_terreno' pk=terreno.pk %}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        </td>
        <td class="text-center">
        <a href="{% url 'excluir_terreno' pk=terreno.pk %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>


    </tr>
    {% endfor %}
    </tbody>

</table>
<a href="{% url 'cadastrar_terreno' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>
{% endblock content %}