{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage' %}">Vigilância Sanitária</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'listar_terreno' %}">Terrenos</a></li>
          <li><a href="{% url 'listar_proprietario' %}">Proprietários</a></li>
          <li><a href="{% url 'listar_notificacao' %}">Notificações</a></li>
          <li><a href="{% url 'listar_fiscal' %}">Fiscais</a></li>
          <li><a href="{% url 'listar_protocolo' %}">Protocolos</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">


{% block content %}

{% endblock %}
</div>




<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'jquery.mask.min.js' %}"></script>


    <script>
        $(document).ready(function(){
            $('.mask-cep').mask('00000-000');
        });

        $(document).ready(function(){
            $('.mask-matricula').mask('00000');
        });

         $(document).ready(function(){
            $('.mask-protocolo').mask('SSS-00000/00');
        });

        $(document).ready(function(){
            $('.mask-rastreio').mask('SS000000000SS');
        });

        $('.mask-date').mask("00/00/0000", {placeholder: "__/__/____"});

        $('.mask-time').mask("00:00", {placeholder: "__:__"});


    </script>


</body>
</html>
